.icon-loader {
  width: 150px; /* Adjust the size as needed */
  height: 150px; /* Adjust the size as needed */
  stroke-linecap: round; /* Makes the lines' ends rounded */
  stroke-linejoin: round; /* Makes the lines' joins rounded */
  animation: draw 2s ease-in-out; /* Smooth transition animation */
}

.line {
  stroke-dasharray: 150; /* Length of dashes for drawing effect */
  stroke-dashoffset: 100; /* Initial offset for line drawing */
  animation: draw-line 2s ease-in-out forwards, color-change 2s ease-in-out infinite; /* Combined animations for line drawing and color change */
}

@keyframes draw {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes draw-line {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
